#bounds {
    margin: 0 auto;
    width: 800px;
    }

#datepicker {
    float:right;
    margin: 10px 0 0 40px;
    }

#daily { float:left; }

#monthly {clear:both;}

label {float:right;}

.google-visualization-table-table {
    margin: 20px 0;
    }

/* something, somewhere, is overriding font-sizes */
.ui-widget {
    font-size: 10px;
    }


/* SUMMARY TABLE STYLING */


table {
    border-spacing:0;
    border-collapse:collapse;
    }

table .name {
    text-align: right;
    }

.ascend { border: 2px solid red;}
.descend { border: 2px solid green;}

.child td {
    border-bottom: 2px solid #E3E3E3;
    } 

.root td { 
    border-top: 8px solid gray;
    border-bottom: 2px solid gray; 
    padding-top: 13px;
    padding-bottom: 13px;
    }

.datapoint {
    font-size: 13px;
    text-align: center;
    color: #424242;
    padding-top:6px;
    padding-bottom:6px;
    }

.chain .datapoint {
    font-size: 15px;
    }

tr:hover {
    background: #EDF4FC;
    }

/*
 * kinda like this, but the size changes on text makes things jump around
tr td:hover {
    font-weight: bold;
    }
*/

table th {
   /*  would be cool to match the edgeflip blue, but it reads as purple
    *   on a thin line 
    * border-bottom: 2px solid #4E5869;
    */
    border-bottom: 2px solid gray;
    background: white;
    padding: 6px;
    }

button.more {
    padding:3px;
    margin: 3px;
    z-index:1! important;
    }

.tableFloatingHeader {
    z-index:2;
    }
