<html>
                <head>
                        <script type='text/javascript' src='https://www.google.com/jsapi'></script>
                        <script type='text/javascript'>
                                // Load the Visualization API and Table chart
                        google.load('visualization', '1', {'packages': ['table','corechart']});
                        google.setOnLoadCallback(drawTable);
                        
                                function drawTable()    {
                                    // Daily report table stuff
                                        var data = new google.visualization.DataTable();
                                        data.addColumn('number', 'Visits');
                                        data.addColumn('number', 'Clicks');
                                        data.addColumn('number', 'Authorizations');
                                        data.addColumn('number', 'Distinct Facebook Authorized Users');
                                        data.addColumn('number', '# Users Shown Friends');
                                        data.addColumn('number', '# Users Who Shared');
                                        data.addColumn('number', '# Friends Shared With');
                                        data.addColumn('number', '# Distinct Friends Shared');
                                        data.addColumn('number', '# Clickbacks');
                                        data.addRows([
                                                [{{visits}},{{clicks}},{{auths}},{{distinct_auths}},{{users_shown}},{{users_shared}},{{friends_shared}},{{distinct_friends_shared}},{{clickbacks}}]
                                        ]);
                                        var table = new google.visualization.Table(document.getElementById('table_div'));
                                        table.draw(data, {showRowNumber: true});

                                        // Aggregate report table stuff
                                        var data2 = new google.visualization.DataTable();
                                        data2.addColumn('number', 'Visits');
                                        data2.addColumn('number', 'Clicks');
                                        data2.addColumn('number', 'Authorizations');
                                        data2.addColumn('number', 'Distinct Facebook Authorized Users');
                                        data2.addColumn('number', '# Users Shown Friends');
                                        data2.addColumn('number', '# Users Who Shared');
                                        data2.addColumn('number', '# Friends Shared With');
                                        data2.addColumn('number', '# Distinct Friends Shared');
                                        data2.addColumn('number', '# Clickbacks');
                                        data2.addRows([
                                                [{{visits2}},{{clicks2}},{{auths2}},{{distinct_auths2}},{{users_shown2}},{{users_shared2}},{{friends_shared2}},{{distinct_friends_shared2}},{{clickbacks2}}]
                                               ] );

                                        var table2 = new google.visualization.Table(document.getElementById('table2_div'));
                                        table2.draw(data2,{showRowNumber: true});
                                }
                        </script>
                </head>
                <body>
			<p>Report for <b>{{today}}</b> to right now</p>
                        <div id='table_div'></div>
			<br><br>
			<p>Report for all time</p>
			<div id='table2_div'></div>
                </body>
</html>

