<html>
    <head>
        <!--                        <script type='text/javascript' src='http://code.jquery.com/jquery-latest.min.js'></script>
        /!-->
                        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
                        <script type="text/javascript">
                                // Load the Visualization API and Table chart
                        google.load("visualization", "1.0", {"packages": ["table", "corechart"]});
                        //google.setOnLoadCallback(drawStuff);
                        google.setOnLoadCallback(drawStuff);

                                function drawStuff()    {
                                    // Daily report table stuff
                                     
                                        var data = new google.visualization.DataTable();
                                        data.addColumn('number', 'Visits');
                                        data.addColumn('number', 'Clicks');
                                        data.addColumn('number', 'Authorizations');
                                        data.addColumn('number', 'Distinct Facebook Authorized Users');
                                        data.addColumn('number', '# Users Shown Friends');
                                        data.addColumn('number', '# Users Who Shared');
                                        data.addColumn('number', '# Friends Shared With');
                                        data.addColumn('number', '# Distinct Friends Shared');
                                        data.addColumn('number', '# Clickbacks');
                                        data.addRows([
                                                [{{visits}},{{clicks}},{{auths}},{{distinct_auths}},{{users_shown}},{{users_shared}},{{friends_shared}},{{distinct_friends_shared}},{{clickbacks}}]
                                        ]);
                                        var table = new google.visualization.Table(document.getElementById('table_div'));
                                        table.draw(data, {showRowNumber: true});

                                        // Aggregate report table stuff
                                        var data2 = new google.visualization.DataTable();
                                        data2.addColumn('number', 'Visits');
                                        data2.addColumn('number', 'Clicks');
                                        data2.addColumn('number', 'Authorizations');
                                        data2.addColumn('number', 'Distinct Facebook Authorized Users');
                                        data2.addColumn('number', '# Users Shown Friends');
                                        data2.addColumn('number', '# Users Who Shared');
                                        data2.addColumn('number', '# Friends Shared With');
                                        data2.addColumn('number', '# Distinct Friends Shared');
                                        data2.addColumn('number', '# Clickbacks');
                                        data2.addRows([
                                                [{{visits2}},{{clicks2}},{{auths2}},{{distinct_auths2}},{{users_shown2}},{{users_shared2}},{{friends_shared2}},{{distinct_friends_shared2}},{{clickbacks2}}]
                                               ]);

                                        var table2 = new google.visualization.Table(document.getElementById('table2_div'));
                                        table2.draw(data2,{showRowNumber: true});

                            


                                        // Line chart Day data

                                        var arr = new Array();
                                        var json = '{{hourly_data}}';
                                        json = json.replace(/&#39;/ig, '"');
                                        json = JSON.parse(json);
                                        arr[0] = ['Hour', 'Visits', 'Clicks', 'Auths', 'Distinct Facebook Auths', '# Users Shown Friends', '# Users Who Shared', '# Friends Shared With', '# Distinct Friends Shared', '# Clickbacks'];
                                        
                                        for(i = 0; i < json.data.length; i++)
                                        {
                                            arr[i+1] = json.data[i];
                                        }
                                        var chart_data1 = google.visualization.arrayToDataTable(arr);
                                        var options1 = {title: 'Hourly Report for Today'};
                                        var chart1 = new google.visualization.LineChart(document.getElementById('linechart1'));
                                        chart1.draw(chart_data1, options1);

                                        //alert("Second Callback");
                                        // Month data
                                        
                                        var arr2 = new Array();
                                        arr2[0] = ['Day', 'Visits', 'Clicks', 'Auths', 'Distinct Facebook Auths', '#Users Shown Friends', '# Users Who Shared', '# Friends Shared With', '# Distinct Friends Shared', '# Clickbacks'];
                                        var json2 = '{{daily_data}}';
                                        json2 = json2.replace(/&#39;/ig, '"');
                                        json2 = JSON.parse(json2);
                                       
                                        for(i = 0; i < json2.data.length; i++)
                                        {
                                            arr2[i+1] = json2.data[i];
                                        }

                                        var chart_data2 = google.visualization.arrayToDataTable(arr2);
                                        var options2 = {title: 'Daily Report(for the past 30 days)'};
                                        var chart2 = new google.visualization.LineChart(document.getElementById('line2'));
                                        chart2.draw(chart_data2, options2);
                                        
                                        
                                }



                        </script>
    </head>
                <body>
                <h2>Targeted Sharing Report</h2>
                    <p>Daily Report for <b>{{today}}</b></p>
                        <div id='table_div'></div>
                    <br><br>
                    <p>Report from beginning of the campaign</p>
                        <div id='table2_div'></div>
                        <hr>
                        <br>

                        <div id='linechart1'></div>
                    <br><br>
                        <div id='line2'></div>
                       
                </body>
</html>

