<html>
    <head>
                        <script type='text/javascript' src='http://code.jquery.com/jquery-latest.min.js'></script>
                        <script type='text/javascript' src='https://www.google.com/jsapi'></script>
                        <script type='text/javascript'>
                                // Load the Visualization API and Table chart
                        google.load('visualization', '1', {'packages': ['table','corechart']});
                        google.setOnLoadCallback(drawStuff);
                        
                                function drawStuff()    {
                                    // Daily report table stuff
                                        var data = new google.visualization.DataTable();
                                        data.addColumn('number', 'Visits');
                                        data.addColumn('number', 'Clicks');
                                        data.addColumn('number', 'Authorizations');
                                        data.addColumn('number', 'Distinct Facebook Authorized Users');
                                        data.addColumn('number', '# Users Shown Friends');
                                        data.addColumn('number', '# Users Who Shared');
                                        data.addColumn('number', '# Friends Shared With');
                                        data.addColumn('number', '# Distinct Friends Shared');
                                        data.addColumn('number', '# Clickbacks');
                                        data.addRows([
                                                [{{visits}},{{clicks}},{{auths}},{{distinct_auths}},{{users_shown}},{{users_shared}},{{friends_shared}},{{distinct_friends_shared}},{{clickbacks}}]
                                        ]);
                                        var table = new google.visualization.Table(document.getElementById('table_div'));
                                        table.draw(data, {showRowNumber: true});

                                        // Aggregate report table stuff
                                        var data2 = new google.visualization.DataTable();
                                        data2.addColumn('number', 'Visits');
                                        data2.addColumn('number', 'Clicks');
                                        data2.addColumn('number', 'Authorizations');
                                        data2.addColumn('number', 'Distinct Facebook Authorized Users');
                                        data2.addColumn('number', '# Users Shown Friends');
                                        data2.addColumn('number', '# Users Who Shared');
                                        data2.addColumn('number', '# Friends Shared With');
                                        data2.addColumn('number', '# Distinct Friends Shared');
                                        data2.addColumn('number', '# Clickbacks');
                                        data2.addRows([
                                                [{{visits2}},{{clicks2}},{{auths2}},{{distinct_auths2}},{{users_shown2}},{{users_shared2}},{{friends_shared2}},{{distinct_friends_shared2}},{{clickbacks2}}]
                                               ]);

                                        var table2 = new google.visualization.Table(document.getElementById('table2_div'));
                                        table2.draw(data2,{showRowNumber: true});



                                        // Line chart Day data

                                        var arr = new Array();
                                        var my_data = jQuery.parseJSON("{{hourly_dater}}");
                                    
                                        //var hourly_data = JSON.parse(hourly_data);
                                        //var hourly_data_json = JSON.parse(hourly_data);
                                        document.getElementById('test').innerHTML = typeof my_data;
                                        arr[0] = ['Hour', 'Visits', 'Clicks', 'Auths', 'Distinct Facebook Auths', '# Users Shown Friends', '# Users Who Shared', '# Friends Shared With', '# Distinct Friends Shared', '# Clickbacks'];
                                        /*
                                        for(i = 1; i < hourly_data_json.data.length; i++)
                                        {
                                            //arr[i] = hourly_data.data[i];
                                            arr[i] = hourly_data.data[i];
                                        }
                                        */
                                     
                                        
                                        arr[1] = [1, 2, 0, 0, 0, 0, 0, 0, 0, 1];
                                        arr[2] = [2, 6, 3, 2, 0, 0, 2, 0, 0, 2];
                                        arr[3] = [5, 10, 4, 2, 1, 2, 1, 0, 0, 1];
                                        
                                        var chart_data2 = google.visualization.arrayToDataTable(arr);
                                        var options2 = {title: 'Hour by hour visits'};
                                        var chart2 = new google.visualization.LineChart(document.getElementById('linechart2'));
                                        chart2.draw(chart_data2, options2);


                                        var my_array = [['Hour', 'Visits', 'Clicks', 'Auths', 'Distinct Facebook Users'],$
                                                        [0, 5, 4, 2, 1],$               
                                                        [1, 2, 0, 0, 1],$               
                                                        [2, 6, 5, 7, 0],$               
                                                        [5, 6, 3, 0, 2],$               
                                                        [12, 4, 8, 0, 1],$              
                                                        [20, 4, 0, 0, 2]];

                                        /*
                                        var chart_data1 = google.visualization.arrayToDataTable([
                                                ['Hour', 'Visits', 'Clicks', 'Auths', 'Distinct Facebook Users'],
                                                [0, 5, 4, 2, 1],
                                                [1, 2, 0, 0, 1],
                                                [2, 6, 5, 7, 0],
                                                [5, 6, 3, 0, 2],
                                                [12, 4, 8, 0, 1],
                                                [20, 4, 0, 0, 2]
                                                ]);
                                        */
                                        var chart_data1 = google.visualization.arrayToDataTAble(my_array);
                                        var options = {title: 'Hour by hour visits'};
                                        var chart1 = new google.visualization.LineChart(document.getElementById('linechart1'));
                                        chart1.draw(chart_data1, options);
                                        /*
                                        var arr = new Array();
                                        var hourly_data = "{{hourly_data}}";
                                        var keys = hourly_data.data[0].keys;
                                        alert(keys);
                                        */
                                }

                                

                        </script>
                </head>
                <body>
            <p>Report for <b>{{today}}</b> to right now</p>
                        <div id='table_div'></div>
            <br><br>
            <p>Report for all time</p>
            <div id='table2_div'></div>


            <div id='linechart1'></div>

            <div id='linechart2'></div>
            <p id='test'></p>
                </body>
</html>

