<html>
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>$
    <script type="text/javascript">
        google.load("visualization", "1.0", {"packages": ["table", "corechart"]});
        google.setOnLoadCallback(drawStuff);

        function drawStuff()
        {
            
           
            var all_json = '{{data}}';
            //alert(json);
            all_json = json.replace(/&#34;/ig, '"');
            all_json = JSON.parse(json);
            // create an array with our keys in it
            var all_keys = []
            for (name in all_json)
            {
                all_keys.push(name);
            }

            var all_campaigns = [];
            for(i=0; i<all_keys.length; i++)
            {
                all_campaigns.push(all_json[all_keys[i]][0]);
            }
            

            // we need to sort the keys in descending order from 
            // most recently started campaign which we know the higher
            // the number the newer the campaign
            for(i=0; i<all_keys.length; i++)
            {
                for(j=0; j<all_keys.length-1;j++)
                {
                    if(parseInt(all_json[all_keys[j]][0],10) < parseInt(all_json[all_keys[j+1]][0],10))
                    {
                        var tmp = all_keys[j];
                        all_keys[j] = all_keys[j+1];
                        all_keys[j+1] = tmp;
                    }
                }
            }

            
            // create the first second that lists out our campaigns for this client
            var client = document.createElement('p');
            client.innerHTML = 'Campaigns Currently Running for Client <b>{{client_name}}</b>';
            var items = document.createElement('ul');
            for (i=0; i < all_keys.length; i++)
            {
                var cur = document.createElement('li');
                cur.innerHTML = all_keys[i];
                items.appendChild(cur);
            }
            document.body.appendChild(client);
            document.body.appendChild(items);
            document.body.appendChild(document.createElement('br'));
            document.body.appendChild(document.createElement('br'));
            document.body.appendChild(document.createElement('hr'));

            /*
            alert(keys);
            alert(json[keys[1]]);
            alert(json[keys[1]].slice(1, json[keys[1]].length));
            */

            

            for(i = 0; i < keys.length; i++)
            {
                // for each key in our keys array create a new div for it
                var div = "campaign_{0}"
                div = div.replace('{0}', i.toString());
                var new_div = document.createElement("div");
                new_div.id = div;

                // The div we just created for this campaign is the div
                // we will use to create our data table
                var data = new google.visualization.DataTable();
                data.addColumn('number', 'Visits');
                data.addColumn('number', 'Clicks');
                data.addColumn('number', 'Authorizations');
                data.addColumn('number', 'Distinct Authorized Facebook Users');
                data.addColumn('number', '# Users Shown Friends');
                data.addColumn('number', '# Users Who Shared');
                data.addColumn('number', '# Friends Shared With');
                data.addColumn('number', '# Distint Friends Shared');
                data.addColumn('number', 'Clickbacks');
                //var title = {title: keys[i]};
                var this_data = json[keys[i]].slice(1,json[keys[i]].length);
                data.addRows([this_data]);
                var table = new google.visualization.Table(new_div);
                table.draw(data, {title: keys[i]});

                
                //new_div.innerHTML = keys[i];
                var title = document.createElement('p');
                title.innerHTML = keys[i];
                document.body.appendChild(title);
                document.body.appendChild(new_div);
                document.body.appendChild(document.createElement('br'));
               
            }
            
        }
     </script>
</head>

<body>
 </body>

</html>
